__pycache__/
*.egg-info/
*.egg
*.spec
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.tox
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.cache
*.pyc
*.pyo
*.egg
*.egg-info
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.tox
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.cache
*.pyc
*.pyo
*.egg
*.egg-info
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.tox
.nox
.coverage
.cache
nosetests.xml
venv/
.vscode
.env